<header class="header">

    <!-- Main Navigation -->

    <nav class="main_nav">
        <div class="container">
            <div class="row">
                <div class="col main_nav_col d-flex flex-row align-items-center justify-content-start">
                    <div class="logo_container">
                        <div class="logo"><a href="/"><img src="images/logo.png" alt="">Cholo Ghuri</a></div>
                    </div>
                    <div class="main_nav_container ml-auto">
                        <ul class="main_nav_list">
                            <li class="main_nav_item"><a href="/">home</a></li>
                            <li class="main_nav_item"><a href="/loggedbooking">booking</a></li>
                            <li class="main_nav_item"><a href="/packages">packages</a></li>
                            <li class="main_nav_item"><a href="/review">review</a></li>
                            <li class="main_nav_item"><a href="/contact">contact</a></li>
                        </ul>
                    </div>

                    <div>
                        <a class="btn-sm btn-primary" href="/profile" role="button">Profile</a>
                    </div>
                    <div>
                        <a class="btn-sm btn-danger" href="/logout" role="button">Logout</a>
                    </div>

                </div>
            </div>
        </div>
    </nav>

</header>