<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Cholo Ghuri Project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
    <link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="styles/cntact_styles.css">
    <link rel="stylesheet" type="text/css" href="styles/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"/>
</head>

<body>

<div class="super_container">

    <!-- Header -->

    <%- include('partials/header') %>



    <!-- Home -->

    <div class="home">
        <div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/contact_background.jpg"></div>
        <div class="home_content">
            <div class="home_title">Registration</div>
        </div>
    </div>

    <!-- Contact -->

    <div class="contact_form_section">
        <div class="container">
            <div class="row">
                <div class="col">

                    <!-- Contact Form -->
                    <div class="contact_form_container">
                        <div class="contact_title text-center">fill the form</div>
                        <form action="/registration" class="contact_form text-center" method="post">
                            <div>
                                <label for="name"></label>
                                <input type="text" id="name" class="contact_form_name input_field" placeholder="Name" required="required" data-error="Name is required." name="name">
                            </div>
                            <div>
                                <label for="username"></label>
                                <input type="text" id="username" class="contact_form_name input_field" placeholder="Username" required="required" data-error="Username is required." name="username">
                            </div>
                            <div>
                                <label for="email"></label>
                                <input type="email" id="email" class="contact_form_name input_field" placeholder="Email" required="required" data-error="Email is required." name="email">
                            </div>
                            <div>
                                <label for="phone"></label>
                                <input type="text" id="phone" class="contact_form_name input_field" placeholder="Phone Number" required="required" data-error="Number is required." name="phone">
                            </div>
                            <div>
                                <label for="pass"></label>
                                <input type="password" id="pass" class="contact_form_name input_field" placeholder="Password (minimum length is 6 required)" minlength="6" required="required" data-error="Password is required." name="password">
                            </div>
                            <div>
                                <label for="confirmpass"></label>
                                <input type="password" id="confirmpass" class="contact_form_name input_field" placeholder="Retype Password" required="required" data-error="Password is required." name="confirmpass">
                            </div>
                            <div>
                                <label for="dateofbirth"></label>
                                <input type="date" id="dateofbirth" class="contact_form_name input_field" placeholder="Date of Birth" required="required" data-error="Date of Birth Required" name="dateofbirth">
                            </div>
                            <div class="form-group row-md-12">
                                <label for="category">Category</label>
                                <select id="category" class="form-control" required="required" data-error="Please Select" name="category">
                                    <option>USER</option>
                                    <option>VOLUNTEER</option>
                                </select>
                            </div>
                            <div class="form-group row-md-12">
                                <label for="category">Category</label>
                                <select id="category" class="form-control" required="required" data-error="Please Select" name="gender">
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                            <button type="submit" id="form_submit_button" class="form_submit_button button trans_200">Register<span></span><span></span><span></span></button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- About -->
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">

                    <!-- About - Image -->

                    <div class="about_image">
                        <img src="images/man.png" alt="">
                    </div>

                </div>

                <div class="col-lg-4">

                    <!-- About - Content -->

                    <div class="about_content">
                        <div class="logo_container about_logo">
                            <div class="logo"><a href="#"><img src="images/logo.png" alt="">CHOLO GHURI</a></div>
                        </div>
                        <p class="about_text">We are committed to offering travel services of the highest quality, combining our energy and enthusiasm, with our years of experience. Our greatest satisfaction comes in serving large numbers of satisfied clients who have experienced the joys and inspiration of travel..</p>
                        <ul class="about_social_list">
                            <li class="footer_social_item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li class="footer_social_item"><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li class="footer_social_item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>

                </div>

                <div class="col-lg-3">

                    <!-- About Info -->

                    <div class="about_info">
                        <ul class="contact_info_list">
                            <li class="contact_info_item d-flex flex-row">
                                <div><div class="contact_info_icon"><img src="images/placeholder.svg" alt=""></div></div>
                                <div class="contact_info_text">TA-75 , Badda ,Dhaka</div>
                            </li>
                            <li class="contact_info_item d-flex flex-row">
                                <div><div class="contact_info_icon"><img src="images/phone-call.svg" alt=""></div></div>
                                <div class="contact_info_text">01628452256</div>
                            </li>
                            <li class="contact_info_item d-flex flex-row">
                                <div><div class="contact_info_icon"><img src="images/message.svg" alt=""></div></div>
                                <div class="contact_info_text"><a href="mailto:contactme@gmail.com?Subject=Hello" target="_top">Hosain@gmail.com</a></div>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>



    <!-- Footer -->

    <%- include('partials/footer') %>

    <!-- Copyright -->

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 order-lg-1 order-2  ">
                    <div class="copyright_content d-flex flex-row align-items-center">
                    </div>
                </div>
                <div class="col-lg-9 order-lg-2 order-1">
                    <div class="footer_nav_container d-flex flex-row align-items-center justify-content-lg-end">
                        <div class="footer_nav">
                            <ul class="main_nav_list">
                                <li class="main_nav_item"><a href="/">home</a></li>
                                <li class="main_nav_item"><a href="/packages">about us</a></li>
                                <li class="main_nav_item"><a href="/contact">contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="js/contact_custom.js"></script>
<script src="js/custom.js"></script>
<script src="js/script.js"></script>


</body>

</html>